<!--
 * @Author: Devin Shi
 * @Email: yutian.shi@definesys.com
 * @Date: 2019-11-25 09:32:53
 * @LastEditTime: 2019-11-25 09:40:03
 * @LastEditors: Devin Shi
 * @Description: 
 -->
<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
        <div class="publishby">
        	<%= __('copyright.theme_by') %> <a href="https://github.com/DevinShi2019" target="_blank"> DevinShi2019 </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure" target="_blank">pure</a>.
        </div>
    </div>
</footer>